.Main{
    z-index: -10;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-image: url('/public/imagens/amb.jpg');
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;

}

.box{
    height: 70vh;
    width: 100vw;
    position: absolute;
    top: 80px;
    background-color: rgb(17, 17, 75);
    opacity: 0.5;
    z-index: 0;
}

.text{
    font-family: sans-serif;
    z-index: 2;
    margin-left: 5vw;
    text-align: left;
    font-size: 60px;
    line-height: 50px;
    font-weight: 700;
    width: 40vw;
    color: white;
    margin-bottom: 40px;
}

.paragrafo{
    font-family: sans-serif;
    z-index: 2;
    text-align: left;
    width: 40vw;
    margin-left: 5vw;
    color: white;
    font-weight: 500;
    margin-bottom: 40px;
    font-weight: 500;
}

span{
    z-index: 2;
    color: rgb(255, 115, 0);
}

.botao1, .botao2{
    margin-left: 5vw;
    background-color: rgb(96, 180, 138);
    border: none;
    padding: 20px 45px;
    border-radius: 6px;
}

.botao1 a, .botao2 a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.botao2{
    background-color: rgb(255, 115, 0);
    margin-left: 1vw;

}

.botoes{
    z-index: 10;
}